<header class="header">

  <div class="container">
    <div class="brand">
      <div class="logo"></div>
      <h1>{{ site.title | escape }}</h1>
    </div>
    <nav class="nav">
      {%- if page.url == "/" -%}
        <a href="#about">About</a>
        <a href="#current">Current Projects</a>
        <a href="#upcoming">Upcoming Projects</a>
        <a href="mailto:contact@versemessiah.com">Contact</a>
      {%- else -%}
        <a href="{{ "/" | relative_url }}">Home</a>
      {%- endif -%}
      <a href="{{ "/blog/" | relative_url }}">Blog</a>
      <a href="{{ "/privacy.html" | relative_url }}">Privacy</a>
    </nav>
  </div>
</header>
